section.wrapper{
    height: 800px;
    padding-bottom: 50px;
}
section.contact{
    background: #ffffff url(../images/backgroud/worldmap.png) no-repeat center center/cover;
    height: 100%;
    /* background-size:auto 100%; */
    /* padding-top: 30px; */
    font-size: 20px;
      /* position: relative; */
}

section.contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

section.contact li{
    line-height: 2;
}


section.core-tech{
    background: url(../images/backgroud/hand.png);
    background-size:100% 100%; 
    width:100%;  
    padding-top: 50px;
    font-size: 20px;
    color: #9f9f9f;
}


section.core-tech h2{
    margin-bottom: 20px;
}


section.core-tech .technology-line {
    margin-bottom: 50px;
}

section.core-tech .divide-line {
    width: 60px;
    height: 3px;
    margin: 20px auto 0;
    background-color: #9f9f9f;
}


section.core-tech .features {
    padding-top: 30px;
}
section.core-tech .features p{
    margin: 30px 0;
}

section.core-tech .features .col-lg-4:first-child .icon-stack-base{
    color:#52AD81;
}
section.core-tech .features .col-lg-4:nth-child(2) .icon-stack-base{
    color:#CD5A48;
}
section.core-tech .features .col-lg-4:last-child .icon-stack-base{
    color:#51A9D6;
}

section.core-tech .desc {
    opacity:0;
	filter:alpha(opacity=0);
	font-size:16px;
	line-height:30px;
	word-break:break-all;
	word-wrap:break-word;
	text-align:justify;
    color: #9f9f9f;
}


section.core-tech .-name{
    font-size: 24px;
    color: #9f9f9f;
}


section.core-tech .tech-item .divide-line{
	opacity:0;
	filter:alpha(opacity=0);
	margin:30px auto 48px;
}
section.core-tech .tech-item img{
	width:120px;
	height:120px;
	margin-bottom:24px;
}
section.core-tech .tech-item:first-child img{
   height:130px;
}

section.core-tech .tech-item:hover .tech-item-name{
    color: #ffffff;
 }
 section.core-tech .tech-item:hover .divide-line{
     opacity:100;
     filter:alpha(opacity=100);
     transition:all .3s ease-in;
     -moz-transition:all .3s ease-in;
     -webkit-transition:all .3s ease-in;
     -o-transition:all .3s ease-in;
 }

 section.core-tech.tech-item-name:hover{
    color: #2e6c71;
 }

 section.core-tech .tech-item-name:hover .desc,
 section.core-tech .tech-item:hover .desc{
    opacity:1;
    filter:alpha(opacity=100);
    font-size : 16px;
    transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
}
section.core-tech .core-tech-title {
    /* font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; */
    font-size: 40px;
    color: #000000;
    /* margin-bottom:100px; */
}

section.product {
    width: 100%;
    display: "none";
}

.customer-img {
    height: 360px;
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
}

.customer-desc {
    font-size: 14px;
    padding-top: 20px
}

.customer-logo {
    height: 60px;
    padding-bottom: 20px;
}
.inner-page{
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 100px;
}

.footer-menu {
    text-align: center;
}
.footer-menu li{
    display: inline;
    list-style: none;
    font-size: 13px;
    padding-top: 10px;
}

#footer{
    background-color: rgba(0,0,0,0.7);
    height: 50px;
    margin-bottom: -50px;
}


#footer #p{
    color: #418d49;
}
.copyright{
    /* height: 50px;
    top: 850px; */
    background-color: rgba(0,0,0,0.7);
    height: 50px
}
.footer-copyright a,
.footer-copyright p{
    color:rgb(255,255,255);
    font-size: 13px;
}

.footer-text {
    line-height: 50px;
    height: 50px;
    color: #ffffff;
}

section.application{
    background: url(../images/backgroud/starry-sky.jpg);
    min-height: 750px;
    background-size:auto 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;

    padding-top: 100px;
    /* padding-block-end: 100px; */
    font-size: 15px;
    color : rgb(255,255,255);
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .application-row {
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
section.application .small-pic video,.big-pic video,
section.application .small-pic img,.big-pic img{
    width:88%;
    height:82%;
    margin-left: 18px;
    margin-top: 78px;
    border:1px solid #ececec;
}
section.application .pic-box{
    background: url(../images/icon/phone-back.png);
    width:320px;
    min-height: 650px;
    background-size:auto 100%;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    margin-bottom: 50px; 
    margin-top: 20px;
}



section.application .btn-lg{
    color: #000;
}
section.application .pull-right {
    float: right !important
}

section.application .pull-left {
    float: left !important;
}

.clearfix:after, .clearfix:before,

.app-header{
    /* background: #f5f5f5 url(../images/bottom.png); */
    /* background: rgb(28,96,149); */
    padding-top: 60px;
}

.app-title{
    padding-top: 20px;
}

.app-desc{
    /* display: block; */
    /* padding-top: 20px; */
    /* font-size: 10px; */
    font-size: 17px;
    font-weight: 200;
    /* width:480px; */
    /* margin-right: auto;
    margin-left: auto */
}

/* .app-qrcode{
    display: block;
    padding-top: 50px;
    width:300px;
    margin-right: auto;
    margin-left: auto
} */

.app-other-item{
    background: #f5f5f5 url(../images/worldmap.png); 
    background-repeat: no-repeat;
}


.button-box{
    padding-top: 20px;
}


.correct-box{
    /* width:320px; */
    min-height: 650px;
}

.input-box {
    margin-top: 100px;
    vertical-align:middle; /* 居中对齐， */ 
    font-size:14px; 
    /* border:1px solid #000 */
}

.output-box{
    margin-top: 20px;
    vertical-align:middle; /* 居中对齐， */ 
    font-size:14px; 
    border:1px solid #cee3e9;
    background:#f1f7f9;
    min-height: 100px;
}

.output-box p{
    float:left;
}

.correct-button-box {
    margin-top: 20px;
    /* border:1px solid #000 */
}
